#card3 {
    margin: 0 auto;
    margin-top: 50px;
    padding: 2em;
    width: 300px;
    background: rgb(50, 50, 50);
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
}

#card3::after, #card3::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), black, red, black, black, black, green, black, black, black, blue, black, black, black);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 10s rotate linear infinite;
    opacity: 10;
}

#card3::before {
    filter: blur(1.5rem);
}

@keyframes rotate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
